/* styles.css */

.footer {
    position: relative;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    height: 200px;
   }
   
   .ball {
    position: absolute;
    bottom: 20px;
    left: 100%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: rgb(214, 26, 26);
    border-radius: 50%;
    animation: bounce 2s infinite;
   }
   
   @keyframes bounce {
     0%, 100% {
       transform: translateX(-50%) translateY(-50%);
    }
     50% {
       transform: translateX(-50%) translateY(-30px);
    }
   }

   .logo-container {
    width: 100px; /* Adjust the width of the container */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto;
  }

  .logo-container img {
    width: 100%; /* Set the width of the image to fill the container */
    height: auto; /* Maintain aspect ratio */
  }
   